<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Sacramento&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
</head>
<body>
    

    <div class = "container">
        <div class="row col-md-6 col-md-offset">
            <h3>Write a Blog</h3>
          
<form action="/blog" method="post">
    <div class="form-group">
        <label for="blog">Blog:</label>
        <input type="text" name="blog" id="blog" class="form-control" autocomplete="off">
    </div>

    <div><a href="/success">
        <button style="background-color:coral; color: black;">Submit</button>
    </a>
</div>
</form>
</div>

</div>


</body>
</html>